/* ==========================================
   NAVIGATION & HEADER
   ========================================== */

header.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1100; /* Plus haut que la nav pour que le bouton reste visible */
}

/* Le menu en plein écran */
.nav {
    position: fixed;
    top: -100%; /* Caché en haut */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #27242a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: top 0.6s cubic-bezier(0.85, 0, 0.15, 1); /* Animation fluide */
}

/* Classe activée par le bouton */
.nav.open {
    top: 0;
}

/* Conteneur de la liste */
.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 3rem;

}

.nav-links li {
    width: 100%;
    padding: 25px 0;
    display: flex;
    
    /* On remplace border-bottom par une image de fond répétée */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 50%, transparent 50%);
    background-position: bottom;
    background-size: 20px 1px; /* 20px = largeur du tiret + espace | 1px = épaisseur */
    background-repeat: repeat-x;
    
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
}

/* Quand le menu est ouvert, on anime les liens */
.nav.open .nav-links li {
    opacity: 1;
    transform: translateY(0);

}

/* Style des liens */
.nav-links a {
    color: white; /* Corrigé en blanc pour lisibilité sur fond sombre */
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Arial Black', sans-serif;
}

.nav-links a:hover {

    color: var(--pink);
}

/* Placement décalé (Style Freshman) */
.nav-links li:nth-child(1) { justify-content: flex-start; padding-left: 10%; transition-delay: 0.2s; }
.nav-links li:nth-child(2) { justify-content: flex-end; padding-right: 15%; transition-delay: 0.3s; }
.nav-links li:nth-child(3) { justify-content: center; transition-delay: 0.4s; }
.nav-links li:nth-child(4) { justify-content: flex-start; padding-left: 20%; transition-delay: 0.5s; }
.nav-links li:nth-child(5) { justify-content: flex-end; padding-right: 5%; transition-delay: 0.6s; }

/* Bouton Burger */
header button {
    font-size: 36px;
    color: white;
    z-index: 1101;
    transition: transform 0.3s ease;
}

.nav-logo img {
    height: 50px;
}