/* ==========================================
   VARIABLES & TOKENS
   ========================================== */

:root {
    --pink: #e575b9;
    --purple: #b46bff;
    --orange: #ff9f1a;
    --blue: #3a8dff;
    --gray: #777;
    --line: #eaeaea;
    --black: #0a0a0a;
}